body {
	font-family: 'Press Start 2P', cursive;
	color: #eee;
	background-color: #000;
	text-align: center; /* Don't judge me! */
}

.block {
	position: absolute;
	background-color: #ccc;
	border: solid 0px black;
	cursor: pointer;
}
